.Card {
    height: 300px;
    position: relative;
    perspective: 1000px;
    font-size: 30px;
    line-height: 1.5em;
    text-align: center;
    margin-bottom: 20px;
}

.Front, 
.Back {
    width: 500px;
    height: 300px;
    border: 1px solid black;
    border-radius: 20px;
    box-sizing: border-box;
    padding: 25px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;  
    position: absolute; 
    transition: 1s;
    backface-visibility: hidden;
}

.Front {
    background: lightgreen;
}


.Back {
    padding: 50px 0;
    background: lightseagreen;
    transform: rotateY(180deg);
}

.Top_Rigth {
    border: 1px solid blue;
    border-radius: 10px;
    margin: 0 0 auto auto;
}

.Top_Left {
    border: 1px solid red;
    border-radius: 10px;
    margin: 0 0 auto 0;
}

.Top_Left  p,
.Top_Rigth  p {
    margin: 0;
    padding: 10px;
}

.Card__Number {
    height: 50px;
    width: 90%;
    border-radius: 10px;
    margin: auto;
    transition: 1s;
}

/* .Card__NumberFocus {
    border: 1px solid black;
} */

.Card__Holder {
    height: 50px;
    width: 250px;
    font-size: 22px;
    border-radius: 10px;
    margin: auto auto 0 0;
    transition: 1s;
}

/* .Card__HolderFocus {
    border: 1px solid black;
} */

.Card__Date {
    height: 50px;
    width: 150px;
    border-radius: 10px;
    margin: auto 0 0 auto;
}

/* .Card__DateFocus {
    border: 1px solid black;
} */

.Card__Line {
    height: 50px;
    background: black;
    width: 100%;
}

.Card__Cvv {
    height: 50px;
    width: 150px;
    border-radius: 10px;
    margin: 0 20px auto auto;
}

.Back__Title {
    height: 50px;
    width: 150px;
    border-radius: 10px;
    margin: auto auto 0 20px;
}

/* .Card__CvvFocus {
    border: 1px solid black;
} */

.Card__Focus {
    z-index: 3;
    border-radius: 10px;
    transition: all 0.5s cubic-bezier(0.71, 0.03, 0.56, 0.85);
    /* opacity: 0; */
    /* pointer-events: none; */
    /* overflow: hidden; */
    border: 2px solid rgba(255, 255, 255, 0.65);
}

.Card__FrontFocus {
    transform: rotateY(180deg);
}

.Card__BackFocus {
    transform: rotateY(360deg);
}
